
@import "bootstrap";
@import "font-awesome";

.clear {
  clear: both;
}

.navbar {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  box-shadow: 0px 1px 3px rgb(1, 0, 3);
  background: image_url('tex2res4_@2X.png');
}

.navbar-inverse a.navbar-brand {
  font-family: "Copperplate";
  font-weight: 1000;
  font-size: 35px;
  color: rgb(35, 243, 205);
}

.hero {
  background: image_url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 800px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

.frosty {
  background: rgba(2, 2, 2, 0.5);
  color: rgb(235, 95, 8);
}

.frosty h1 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 300; 
  text-shadow: rgb(35, 243, 205) 1px 1px;
  color: black; 

}

.frosty h2 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  text-shadow:  rgb(35, 243, 205) 1px 1px;
  color: rgb(7, 7, 7);
}

.btn {
  border-radius: 0;
}

.feature {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

body {
  background: image_url('bg.png');
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  color: white;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 black;
  -webkit-box-shadow: 1px 1px 2px 0 #1b0505;
  box-shadow: 1px 1px 2px 0 #0f68ee00;
  background: rgb(37, 79, 118);
  border: 1px solid #ccc;
  border-color: #df1df8 #000202 #03f723 #f80404;
  padding: 10px;
  color: rgb(9, 11, 12)
}

.booyah-box h2, .booyah-box h1 {
  margin: 10px;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#flex-content-container {
  flex: 1;
}

#footer {
  position: relative;
  width: 100%;
  min-height: 100px;
  background-color: rgba(233, 233, 236, 0.081);
  color: rgb(2, 1, 0);
  font-family: "Copperplate";
  padding: 10px 0px;
  margin-top: 30px
}

#footer a {
  color:  rgb(29, 29, 247);
  font-weight: 200;
}

.help-block {
  color: #ff3333;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
  margin: 10px;
}

.clr {
  clear: both;
}

h1, h2, h3, h4, h5, h6{
  color: rgb(35, 243, 205);
}

.lesson {
  background-color: rgb(0, 0, 0);
  margin-top: 10px;
  height: 130px;
}

.section {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
}

.lesson a {
  color: rgb(241, 7, 7);
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  font-size: 15px;
}

.lesson a b {
  font-weight: 100;
  font-size: 25px;
}

ul {
  list-style-type: none;
}

.section-li {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
  margin :20px;
}

ul .header {
  font-size: 25px;
}

ul .header .fa {
  font-size: 20px;
}

.lessons li {
  background: black;
  color: white;
  margin: 10px;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  padding: 8px;
  font-size: 15px;
}

.lessons li b {
  font-size: 25px;
  font-weight: 100;
}

.lessons li p {
  margin: 0;
}